/* Global Variables */
@bgColor: #568ea1;
@textColor: #fff;
@textHoverColor: #bfd4c4;
@orangeText: #fe992a;
@orangeLighten: #ffba6e;
@footerColor: #e87976;
@grayText: #737c85;

@font-face
{
    font-family: Lato;
    src: url('Lato-Light.ttf');
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Lato';
   
            
      /*Header*/
    
            header{
                width: auto;
                height: 917px;                
                padding: 21px 0 0 25px;
                background: url(images/bg.jpg) no-repeat;
                background-position: center center;
                background-attachment: fixed;
                background-size: cover;
                background-color: @bgColor;
                
                nav {
                    div.logo{
                        width: 73px;
                        height: 73px;
                        background: url(images/logo.png) no-repeat;
                        float: left;
                     &:hover{
                         -webkit-transform: matrix(0.866,0.5,-0.5,0.866,0,0); /* Chrome, Safari, Opera */
                        transform: matrix(0.866,0.5,-0.5,0.866,0,0);
                          -webkit-transition:  ease-out 0.3s;
                         -moz-transition:  ease-out 0.3s;
                         -o-transition: ease-out 0.3s;
                         transition:   ease-out 0.3s;
                     }  
                    }
                    
                    ul{  
                        
                        margin: 0  0 0 222px;
                        
                         li{   color: @textColor;                             
                               float: left;
                               list-style: none;
                               margin: 0 56px 0 0;
                            
                                 &:hover{
                                    cursor: pointer;
                                    color: @textHoverColor;  
                                 }
                             
                                                                  
                                     

                           }
                            li.list:after{
                            content: url('images/list_style.png');
                            }
                    }
                }
                
                .description{
                    width: 400px;
                    height: 260px;
                    color: @textColor;
                    margin: 169px 0 0 300px;
                    
                    h1{
                        font: 36pt 'Lato';
                        
                        text-shadow: -2px 3px 2px rgba(150, 150, 150, 1);
                    }
                    p{
                    text-shadow: -2px 3px 2px rgba(150, 150, 150, 1);
                    }
                
                }
            }
    
    
    
      /*content*/
    
     .content{
         height: 463px;
         padding: 30px;
                 aside{  outline: 1px solid #000;
                     
                         display: block;
                         float: left;
                         width: 247px;
                         height: 160px;
                     
                         p{
                         color: @orangeText;
                         font-style: italic;
                         font-size: 15pt;
                         }
                 
                 }
                 article{ 
                     outline: 1px solid #000;
                    display: block;
                      width: 600px;
                     height: 204px;
                 
                 }
     }
    
    footer{
        height: 473px;
        background: @footerColor;
        color: @textColor;
            ul {
                    float: left;
                        li{
                            list-style: none;
                        }
                }
    }
    
}